body {
    font-family: sans-serif;
}
body {
    font-family: sans-serif;
}
.social{
    background-color: white;
}
a {
    text-decoration: none;
     background-color: rgb(158, 234, 234);  
 
}
h1{
    background-color: rgb(154, 251, 251);
    text-align: center;
}
ul{
    background-color: rgb(167, 255, 255); 
}
a:hover {
    box-shadow:3px 5px 10px rgb(76, 255, 255);
    background-color: rgb(167, 255, 255); 
}


